                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-header">Navegación</li>
                    <li>
                        <a href="{% url 'users:admin' %}">
                            <i class="fa fa-home"></i>
                            <span>
                                Dashboard
                            </span>
                        </a>
                    </li>
                    <li>
                       <a href="{% url 'users:adminAuditor' %}">
                          <i class="fa fa-file-o"></i>
                          <span>Auditores</span>
                      </a>
                    </li>
                    <li class="nav-header">Historico</li>
                    <li>
                       <a href="javascript:;">
                          <b class="caret pull-right"></b>
                          <i class="fa fa-file-o"></i>
                          <span>Cargar CSV</span>
                        </a>
                    </li>
                    <li>
                       <a href="javascript:;">
                              <b class="caret pull-right"></b>
                              <i class="fa fa-file-o"></i>
                              <span>Cargar CSV</span>
                          </a>
                    </li>

                    <li>
                        'authentication
                    </li>

                    
                </ul>
                <!-- end sidebar nav -->
