                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-header">Peliculas</li>
                    <li>
                        <a href="/">
                            <i class="fa fa-home"></i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li class="nav-header">Reportes</li>
                    <li>
                        <a href="{% url 'users:vistasUltimoMes' %}">
                            <i class="fa fa-file-o"></i>
                            <span>Peliculas mas vistas Ultimo Mes</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'users:generosMasVistosUltimoMes' %}">
                            <i class="fa fa-file-o"></i>
                            <span>Generos mas vistos ultimo mes</span>
                        </a>
                    </li>
                    <!--<li>
                        <a href="javascript:;">
                            <i class="fa fa-file-o"></i>
                            <span>Recomendadas</span>
                        </a>
                    </li>-->
                    <li>
                        <a href="{% url 'movies:estrenos' %}">
                            <i class="fa fa-file-o"></i>
                            <span>Estrenos</span>
                        </a>
                    </li>
                   
                </ul>
                <!-- end sidebar nav -->