                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-header">Peliculas</li>
                    <li>
                        <a href="/">
                            <i class="fa fa-home"></i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'movies:tendencias' %}">
                            <i class="fa fa-file-o"></i>
                            <span>Tendencias</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'movies:cartelera' %}">
                            <i class="fa fa-file-o"></i>
                            <span>En Cartelera</span>
                        </a>
                    </li>
                    <!--<li>
                        <a href="javascript:;">
                            <i class="fa fa-file-o"></i>
                            <span>Recomendadas</span>
                        </a>
                    </li>-->
                    <li>
                        <a href="{% url 'movies:estrenos' %}">
                            <i class="fa fa-file-o"></i>
                            <span>Estrenos</span>
                        </a>
                    </li>
                    <li class="nav-header">Personal</li>
                    <li class="has-sub">
                      <a href="javascript:;">
                          <b class="caret pull-right"></b>
                          <i class="fa fa-user"></i>
                          <span>Usuario</span>
                      </a> 
                          <ul class="sub-menu">
                            <li><a href="{% url 'users:perfil' %}">Perfil</a></li>
                            <li><a href="{% url 'movies:listarVistas' %}">Peliculas Vistas</a></li>
                            <li><a href="{% url 'movies:listarPorVer' %}">Peliculas por Ver</a></li>
                          </ul>                 
                    </li>
                                              
                   

                </ul>
                <!-- end sidebar nav -->
