                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-header">Navegación</li>
                    <li>
                        <a href="/">
                            <i class="fa fa-home"></i>
                            <span>
                                Dashboard
                            </span>
                        </a>
                    </li>
                    <li>
                       <a href="javascript:;">
                          <b class="caret pull-right"></b>
                          <i class="fa fa-file-o"></i>
                          <span>Cargar CSV</span>
                      </a>
                    </li>
                    <li class="nav-header">Historico</li>
                    <li>
                       <a href="javascript:;">
                          <b class="caret pull-right"></b>
                          <i class="fa fa-file-o"></i>
                          <span>Cargar CSV</span>
                        </a>
                    </li>
                    <li>
                       <a href="javascript:;">
                              <b class="caret pull-right"></b>
                              <i class="fa fa-file-o"></i>
                              <span>Cargar CSV</span>
                          </a>
                    </li>

                    <li>
                        'authentication
                    </li>

                    <!-- begin sidebar minify button -->
                    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                    <!-- end sidebar minify button -->
                </ul>
                <!-- end sidebar nav -->
