    {% load staticfiles %}
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{% static "assets/img/user-13.png" %}" data-id="login-cover-image" alt="" />
                            </a>
                        </div>
                        <div class="info">
                            {{nombre}}
                            <small>Usuario</small>
                        </div>
                    </li>
                </ul>
                <!-- end sidebar user -->
                
                {% include 'private_navbar.html' %}
                
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->
