    {% load staticfiles %}
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar" style="background:#0B173B">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{% static "assets/img/user-13.png" %}" data-id="login-cover-image" alt="" />
                            </a>
                        </div>
                        <div class="info">
                            {{nombre}}
                            {% if user.tipo == "admin" %}
                                <small>Administrador</small>
                            {% else %}
                                <small>Usuario</small>
                            {% endif%}
                            
                        </div>
                    </li>
                </ul>
                <!-- end sidebar user -->
                {% if user.tipo == "admin" %}
                    {% include 'admin_navbar.html' %}
                {% elif user.tipo == "Cliente" %}
                    {% include 'cliente_navbar.html' %}
                {% endif%}
                
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->
