{% extends 'base.html' %}

{% load staticfiles %}
{% load tz %}

{% block css %}
{{ block.super }}
{% endblock %}
{% block content %}

<div class="col-md-12 ui-sortable">
     </p>
</div>
<div class="col-md-12 ui-sortable">
	
	<div style=" border-radius: 15px; border: 2px solid #151515; padding: 20px;  background:#0B173B; "class="col-md-12 ui-sortable">
        
    	<div class="col-md-5 ui-sortable" style=" border: 2px solid #FFFFFF; background:#FFFFFF;">
    		</p>
            <div class="image-inner">
                <a href="assets/img/gallery/gallery-1.jpg" data-lightbox="gallery-group-1">
                    <img src={{pelicula.imagen}} style="width:360px;height:500px;"/>
                </a>
            </div>           
            <div class="col-md-12 ui-sortable" style="  margin-top: 2px;">  
            	<font size=4  color="black"><B><center>Calificacion: {{cal}}</center></B></font>
            </div>
            <form action="{% url 'movies:calificar' pelicula.codigo %}" method="POST" class="margin-bottom-0"> {% csrf_token %}
            <div class="col-md-12 ui-sortable">  
				<div class="form-horizontal form-bordered" style="  margin-top: 2px;">
	                <div class="col-md-5 ui-sortable">                	                            
	                    <select name="calificacion" class="form-control">
	                        <option>1</option>
	                        <option>2</option>
	                        <option>3</option>
	                        <option>4</option>
	                        <option>5</option>
	                    </select>	                        
	                </div>	           
	                <div class="col-md-6 ui-sortable" >
	                    <center><button style="  border: 2px solid#151515; background:#2E2E2E;" type="submit" class="form-control"><font color="white">Calificar</font></button></center>
	                </div>
	            </div>
	        </div>
	        </form> 
            <form action="{% url 'users:agregarAListaPersonal' pelicula.codigo %}" method="POST" class="margin-bottom-0"> {% csrf_token %}
            <div class="col-md-12 ui-sortable" style="  margin-top: 2px;">  
            	<font size=4  color="black"><B><center>Agregar a una lista</center></B></font>
            </div>
            <div class="col-md-12 ui-sortable">  
				<div class="form-horizontal form-bordered" style="  margin-top: 2px;">
	                <div class="col-md-5 ui-sortable">                	                            
	                    <select name="lista" class="form-control">
	                    	<option>Seleccionar lista</option>
	                        {% for i in listasPersonalizadas %}
	                            <option>{{i.nombre}}</option>
	                        {% endfor %}
	                    </select>	                        
	                </div>	           
	                <div class="col-md-5 ui-sortable" >
	                    <center><button style="  border: 2px solid#151515; background:#2E2E2E;" type="submit" class="form-control"><font color="white">Agregar</font></button></center>
	                </div>
	            </div>
	        </div>
	        </form>   	
            
	        {% if vista %}
	        <form action="{% url 'movies:vistas' pelicula.codigo %}" method="POST" class="margin-bottom-0"> {% csrf_token %}
	        	<div class="col-md-12 ui-sortable">  
	            	<label ><font size=4  color="black"><center><B>Donde la viste</B></center></font></label>
	            </div>
	            <div class="col-md-2 ui-sortable" style="  margin-top: 2px;">
	            	<font size=4 > <B>cine: </B></font>
	            </div>
	            <div class="col-md-6 ui-sortable" style="  margin-top: 2px;">                           
	                    <select name="lista" class="form-control">
	                    	<option>Seleccionar lista</option>
	                        {% for i in cines %}
	                            <option>{{i.nombre}}</option>
	                        {% endfor %}
	                    </select>	                        
	            </div>	
	            <div class="col-md-12 ui-sortable" style="  margin-top: 2px;">
	            	<center><font color="white">Ya la vi</font></center>
	        	</div>
	        </form>
            {% else%}
            	<div class="col-md-12 ui-sortable" style="  margin-top: 2px;">  
	            	<font size=4  color="black"><B><center>mas informacion</center></B></font>
	            </div>
            	<div class="col-md-12 ui-sortable" style="  margin-top: 2px;">
            		<font size=4  color="black"><B><center>Ya la viste</center></B></font>	            	
	            </div>

	        {% endif %}
	        {% if ver %}
	            <div class="col-md-12 ui-sortable" style="  margin-top: 2px;" >
	            	<a href="{% url 'movies:ver' pelicula.codigo %}" id="ver"><font size=4 > <B> <center>+La quiero ver</center> </B></font></a>
	            </div>
            {% else%}
            	<div class="col-md-12 ui-sortable"style="  margin-top: 2px;" >
            		<font size=4  color="black"> <B><center>En espera de ver </center> </B></font></a>	            	
	            </div>
	        {% endif %}
	        {% if col %}
	            <div class="col-md-12 ui-sortable" style="  margin-top: 2px;">
	            	<center><a href="{% url 'users:agregarColeccion' pelicula.codigo %}" id="vista"><font size=4 > <B>+Agregar a Coleccion </B></font></a></center>
	            </div>
	        {% endif %}
	        </p>
         </div>

        <div class="col-md-7 ui-sortable">
        <font color="white">
	        <div>		        
				<font size=6 > <B>{{pelicula.titulo}}  </B></font>			
			</div>
			<div>		        
				<small><B>Código:</B> {{pelicula.codigo}}</small>				
			</div>
			<div>		        
				</p><font size=3 > <B>Descripción: </B> </font>			
			</div>
			<div>						        
				<small>{{pelicula.descripcion}}</small>				
			</div>
			<div>		        
				</p><font size=3 > <B>Trailer: </B> </font>			
			</div>
			<div>						        
				<small><a href="{{pelicula.trailer}}">{{pelicula.trailer}}</a></small>				
			</div>
			<div>		        
				</p><font size=3 > <B>Fecha de Estreno: </B> </font> <small>{{pelicula.fechaEstreno}}</small>		
			</div>
			{% if pelicula.generos != None%}
			<div>		        
				</p><font size=3 > <B>Generos: </B> </font>		
			</div>
			<div>
			{% for i in pelicula.generos.all %}					
				<font size=2 color="white"><small>{{i.nombre}}. </small> </font>					
			{% endfor %}
			</div>
			{% endif %}
			{% if pelicula.criticas != None%}
			<div>		        
				</p><font size=3 > <B>Criticas: </B> </font>		
			</div>
				{% for i in pelicula.criticas.all %}
					<div class="col-md-4 ui-sortable">
						</p><font size=2 color="white"><B>{{i.critico}} : </B> </font>
					</div>
					<div class="col-md-8 ui-sortable">
						</p><font size=2 color="white"><small>{{i.critica_calificacion}}  </small> </font>
					</div>
				{% endfor %}
			{% endif %}
		</font>
		</div>
	</div>
</div>


{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static "assets/plugins/js/jquery.webRating.min.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#star').rating('advote.php', {maxvalue: 5, curvalue:1, id:11});
});
</script>
{% endblock %}