{% extends 'base.html' %}

{% load staticfiles %}
{% load tz %}

{% block css %}
{{ block.super }}
{% endblock %}
{% block content %}
<div class="col-md-12 ui-sortable">
	
	<div style=" border-radius: 25px; border: 2px solid #151515; padding: 20px;  background:#0B173B; "class="col-md-12 ui-sortable">
        <div  class="col-md-5 ui-sortable">
        	<div style=" border-radius: 25px; border: 2px solid #0B2161; padding: 20px;  background:#FFFFFF; ">
                <div class="image-inner">
                    <a href="assets/img/gallery/gallery-1.jpg" data-lightbox="gallery-group-1">
                        <img src={{peicula.imagen}} style="width:300px;height:500px;"/>
                    </a>
                </div>
             </div>
        </div>
        <div class="col-md-3 ui-sortable">
		<h2> <B>{{pelicula.titulo}}  </B></h2>
	</div>
	</div>
</div>


{% endblock %}
{% block js %}
{{ block.super }}
{% endblock %}