
{% extends 'base.html' %}

{% load staticfiles %}
{% load tz %}

{% block css %}
{{ block.super }}
{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js" />
{% endblock %}
{% block content %}
{% for i in listas %}
<div class="col-md-12 ui-sortable">
	<div class="col-md-12 ui-sortable">
		<h2> <B>{{i.nombre}}  </B></h2>
	</div>
	<div style=" border-radius: 15px; border: 2px solid #151515; padding: 20px;  background:#0B173B; "class="col-md-12 ui-sortable">
        {% for e in i.lista %}

        <div  class="col-md-3 ui-sortable" style="height:400px;">
        	<div style=" border-radius: 15px; border: 2px solid #0B2161; padding: 20px;  background:#FFFFFF; ">
                <div class="image-inner">
                    <a href="{% url 'movies:verMas' e.codigo %}" data-lightbox="gallery-group-1">
                        <img src={{e.imagen}} style="width:160px;height:228px;"/>
                    </a>
                </div>
                <div class="image-info">
                    <h5 class="title"><b>{{e.titulo}}</b></h5>
                    <div class="pull-right">
                        <a href="{% url 'movies:verMas' e.codigo %}">Ver mas</a>
                    </div>
                    <div class="rating">
                        <span class="star active"></span>
                        <span class="star active"></span>
                        <span class="star active"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </div>
                    <div class="desc">
                        <small><b>Fecha de Estreno</b></small>
                        {{e.fechaEstreno}}
                    </div>
                    <div class="col-md-2 ui-sortable">
                    </p><font size=1  color="white"> <B> </B></font>
                    </div>                    
                 </div>
             </div>
        </div>
        {% endfor %}
	</div>  
</div>
{% endfor %}
{% endblock %}
{% block js %}
{{ block.super }}
<script language="javascript" src="{% static "assets/plugins/js/jquery-1.2.6.min.js" %}"></script>
<script language="javascript">
$(document).ready( function() {
    for (var i = 0; i < listas.length; i++) 
    {    
        var lista = i.lista
        for (var e = 0; e < lista.length; i++) 
        {
            $("#about-btn-{{e.codigo}}").click( function(event) {
                alert("You clicked the button using JQuery!");
            });
        }
    }
});
</script>
{% endblock %}